ul.search-res {
	margin: 2px 0 22px;
}

.mark_novelty, .mark_sale {
	font-style: italic;
	font-size: 90%;
}

.mark_novelty {
	color: #00AF2D;
}

.mark_sale {
	color: #E63B40;
}

.mark_novelty sup,
.mark_novelty span,
.mark_sale sup,
.mark_sale span {
	color: #000000;
}

.price-notice {
	padding: 5px 10px;
	background-color: #E8E46F;
	margin-bottom: 5px;
	font-size: 11px;
}

.popup .popup-content {
	width: 982px;
}
.popup .popup-content .popup-right {
	width: 458px;
}

.popup .popup-content .popup-right .prev {
/*	padding-bottom: 15px;*/
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 450px;
	height: 450px;
	border: 4px solid #E5E5E5;
	background: #FFFFFF;
	
}

.popup .popup-content .popup-right .prev img {
	border: 0;
}

.popup .popup-content .popup-right .thumbs {
	padding-top: 15px;
	padding-bottom: 22px;
	overflow: hidden;
	height: 1%;
}

.popup .popup-content .popup-right .thumbs a {
	border: 4px solid #E5E5E5;
	display: block;
	float: left;
	margin: 0 5px 5px 0;
}	
.popup .popup-content .popup-right .thumbs a:hover,
.popup .popup-content .popup-right .thumbs a.current {
	border-color: #19496F;
}
.popup .popup-content .popup-right .no-thumbs {
	height: 22px;
}

.popup .ed {
	margin-bottom: 16px;
}	

/* форма подбора ручек */
#dialog-modal {
	display: none;
}	
#dialog-modal .loader {
	position: absolute;
	width: 540px;
	padding: 103px 0 360px 0;
	text-align: center;
	display: none;
}	

#dialog-modal .form-holder {
	width: 541px;
	height: 70px;
	overflow: hidden;
}
#dialog-modal .form-holder .field-holder {
	margin-right: 20px;
	float: left;
	width: 140px;
}
#dialog-modal .form-holder .field-holder.last {
	margin-right: 0;
	width: 210px;
}
#dialog-modal .form-holder .field-holder a.sel {
	display: block;
	padding: 3px 22px 3px 5px;
	border: 1px solid #cccccc;
	color: #000000;
	text-decoration: none;
	background: transparent url(shared/images/sel_arr.png) 100% 0 no-repeat;
	height: 16px;
	overflow: hidden;
}
#dialog-modal .form-holder .field-holder a.sel.active {
	background-position: 100% -22px;
}
#dialog-modal .form-holder .field-holder .sel-data-holder {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	position: absolute;
	z-index: 10;
	display: none;
	padding: 10px;
	width: 350px;
}
#dialog-modal .form-holder .field-holder .sel-data-holder.wide {
	width: 500px;
}	
#dialog-modal .form-holder .field-holder .sel-data-holder .close {
	float: right;
	width: 13px;
	height: 13px;
	background: transparent url(shared/css/smoothness/images/ui-icons_888888_256x240.png) -98px -130px no-repeat;
	cursor: pointer;
	border: 1px solid #888888;
}
#dialog-modal .form-holder .field-holder .sel-data-holder .options-holder {

}	
#dialog-modal .form-holder .field-holder .sel-data-holder a {
	color: #005698;
}	
#dialog-modal .form-holder .field-holder .sel-data-holder ul,
#dialog-modal .form-holder .field-holder .sel-data-holder ul li{
	margin:0;
	padding:0;
	list-style: none;
}
#dialog-modal .form-holder .field-holder .sel-data-holder ul li img {
	cursor: pointer;
}	
#dialog-modal .form-holder .field-holder .sel-data-holder ul {
	float: left;
	margin-right: 5px;
	width: 31%;
}
#dialog-modal .form-holder .field-holder.last .sel-data-holder ul {
	float: none;
	width: 100%;
	margin-right: 0;
}
#dialog-modal .form-holder .field-holder .sel-data-holder.wide ul {
	width: 32%;
}
#dialog-modal .form-holder .field-holder .sel-data-holder ul.reset {
	width: 78px;
}
#dialog-modal .form-holder .field-holder .sel-data-holder ul li {
	padding: 5px;
}	
#dialog-modal .form-holder .field-holder .sel-data-holder ul li.selected {
	background-color: #005698;
}
#dialog-modal .form-holder .field-holder .sel-data-holder ul li.selected a {
	color: #ffffff;
	text-decoration: none;
}
#dialog-modal .form-holder .field-holder .sel-data-holder ul li img {
	vertical-align: middle;
}	
#dialog-modal .form-holder .field-holder .sel-data-holder .cat-head {
	clear: left;
	padding: 15px 0 5px 0;
}
#dialog-modal .form-holder .field-holder .sel-data-holder .cat-head.first {
	padding-top: 0;
}	

#dialog-modal .form-holder .field-holder.last .sel-data-holder ul li.selected {
	background-color: #ffffff;
	padding: 3px 0;
}
#dialog-modal .form-holder .field-holder.last .sel-data-holder ul li.selected a {
	color: #ffffff;
	padding: 2px 5px;
	background-color: #005698;
}
#dialog-modal .form-holder .reset {
	clear: left;
	padding-top: 7px;
}

#dialog-modal .img-holder {
	text-align: center;
	padding-top: 15px;
}
#dialog-modal .img-holder img.good-img,
#dialog-modal .img-holder .patented {
	display: none;
}
#dialog-modal .img-holder .patented {
	position: absolute;
	margin-left: 270px;
}

#dialog-modal .img-holder .err-holder {
	padding: 190px 0 240px 0;
	font-size: 17px;
}

.count_to_buy_doorhandle {
	position: absolute;
	left: 188px;
	top: 109px;
	background-color: #e5e5e5;
	border: 1px solid #555759;
	visibility: hidden;
	width: 100px;
	height: 28px;
}
.count_to_buy_doorhandle div {
	padding: 6px 8px;
	_padding: 5px 8px;
}

.ui-widget.ui-dialog .catalog {
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	padding: 0;
	
	display: none;
}

.ui-widget.ui-dialog .catalog .products {
	border: none;
}
.ui-widget.ui-dialog .catalog .products-inner-block,
.ui-widget.ui-dialog .catalog .white-inner-block {
	padding: 0;
	margin: 0;
}


/* /форма подбора ручек */

.catalog .category-name a.doorhandle {
	display: inline;
}	

.doorhandle_holder {
	float: right;
}


.form-field{
	padding-bottom:12px;
	width: 580px;
}

.form-field.file-holder{
  width: 380px;
}

.form-field.file-holder .pseudo-field {
  display: block;
}

.form-field.file-holder .pseudo-field, .form-field.file-holder input[type="file"] {
  display: block;
  margin: 5px 0 0 0;
}

.form-field input[type="radio"] {
	vertical-align: middle;
	margin-top: 0;
}
.form-field label {
	padding-right: 10px;
}

.order-contact-holder .delivery_place,
.order-contact-holder .distance-holder {
	display: none;
}

.order-contact-holder .distance-holder {
	padding-left: 24px;
}

.form-right-links {
	margin: -25px 0 0 0;
}

.order-coeff-notice {
	color: #005698;
	font-size: 10px;
}

.price.order-coeff, 
.sum.order-coeff {
	color: #005698;
}

.price.order-coeff:after, 
.sum.order-coeff:after {
	content: "*";
}

.order-contact-holder h5 {
	float: left;
	width: 200px;
	overflow: hidden;
}

.order-contact-holder input.error,
.order-contact-holder select.error,
.order-contact-holder textarea.error {
	border: 1px solid red;
}

.order-hidden-field {
	display: none;
}	

input.order-file-field.order-hidden-field {
  display: inline;
  visibility: hidden;
  position: absolute;
}

.add-order-field-holder img {
  vertical-align: middle;
}

.telemark-tooltip-holder {
	width: 263px;
	position: absolute;
	overflow: hidden;
	z-index: 10;
}
.tooltip-content {
	background:url(/workdir/2_long.png) no-repeat 0 0;
	padding: 20px 20px 20px 45px;
}
.tooltip-bottom {
	height: 6px;
	background:url(/workdir/2_long.png) no-repeat 0 100%;
	overflow: hidden;
}
#teh-tab th, #teh-tab td {
  border:1px solid #9B9B9B; padding:4px 12px 5px 7px;
}
#teh-tab tr:nth-child(2n+1) td, #teh-tab tr:nth-child(2n+1) th {
  background:#E5E5E5;
}
.dotted_link {
	text-decoration:none;
	border-bottom:1px dotted #005698;
}
.dotted_link:hover {
	border-bottom:0;
	margin-bottom:1px;
}
.phrases {
	padding:0 0 9px 0;
}
.phrase {
	padding:5px 0 0 0;
}
.hlword {
	font-weight:bold;
}

.order-contact-holder .order-contact-label {
	float:left;
	width:200px;
}

/* Изменения на главной */

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.new-list-title.title-line {
    padding-bottom: 10px;
}

.new-list-wrap {
    position: relative;
    min-height: 230px;
    margin: 0 -12px;
    padding: 0 16px;
}

.new-list-noprice-wrap {
    min-height: 206px;
}

.new-list {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.new-list *, .new-list *::after, .new-list *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.new-list .item {
    float: left;
    width: 160px;
    padding-right: 5px;
    padding-left: 5px;
}

.new-list .link {
    display: block;
    text-decoration: none;
}

.new-list .preview {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    overflow: hidden;
}

.new-list .preview:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #e5e5e5;
    -webkit-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    z-index: 1;
}

.new-list .link:hover .preview:before {
    border-color: #1a496e;
}

.new-list .img {
    display: block;
    width: 100%;
    height: 100%;
}

.new-list .title {
    padding-bottom: 10px;
    line-height: 18px;
}

.new-list .title>span {
    text-decoration: underline;
}

.new-list .price {
    display: inline-block;
    vertical-align: baseline;
}

.new-list .owl-prev, .new-list .owl-next {
    position: absolute;
    top: 0;
    width: 10px;
    height: 150px;
    text-indent: -1000px;
    overflow: hidden;
    background: url(/workdir/slider-arrow.png) no-repeat center;
    background-size: 10px 18px;
}

.new-list .owl-next {
    right: -16px;
}

.new-list .owl-prev {
    left: -16px;
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
}

.producers-list-wrap {
    position: relative;
    min-height: 80px;
    padding: 0 45px;
}

.producers-list {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.producers-list *, .producers-list *::after, .producers-list *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.producers-list .item {
    float: left;
    width: 136px;
    margin-right: 5px;
    margin-left: 5px;
    background: #f6f6f8;
}

.producers-list .img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .8;
    transition: .6s ease;
}

.producers-list .img:hover {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.producers-list .owl-prev, .producers-list .owl-next {
    position: absolute;
    top: 0;
    width: 10px;
    height: 80px;
    text-indent: -1000px;
    overflow: hidden;
    background: url(/workdir/slider-arrow.png) no-repeat center;
    background-size: 10px 18px;
}

.producers-list .owl-next {
    right: -45px;
}

.producers-list .owl-prev {
    left: -45px;
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
}

.video-list-title.title-line {
    padding-bottom: 10px;
}

.video-list {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.video-list *, .video-list *::after, .video-list *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.video-list .row {
    margin-left: -5px;
    margin-right: -5px;
}

.video-list .column {
    float: left;
    width: 33.3333%;
    padding: 5px;
}

.video-list-rows .column {
    width: 100%;
}

.video-page .column {
    padding-bottom: 20px;
}

.video-list .column:nth-child(1), .video-list .column:nth-child(2), .video-list .column:nth-child(3) {
    padding-top: 0;
}

.video-list .column:nth-child(3n)::after {
    content: "";
    display: table;
    clear: both;
}

.video-list .link {
    display: block;
}

.video-list .preview {
    width: 155px;
    height: 86px;
    margin-bottom: 10px;
    background-color: #666666;
    overflow: hidden;
}

.video-page .preview {
    width: 100%;
    height: 133px;
}

.video-list img {
    display: block;
    max-width: 100%;
}

.video-list .title {
    line-height: 18px;
}

.preview-block-no-next .preview-block-big-next {
    margin: 0;
}

.producer_block {
    background: #f6f6f8;
    margin: 0 0 10px 0;
}
.producer_block:after {
    content: "";
    display: block;
    clear: both;
}
.producer_block_logo {
    text-align: center;
    float: left;
    width: 170px;
    padding: 5px 10px;
    box-sizing: border-box;
}
.producer_block_logo img {
    margin: 0 5px 0 0;
}
.producer_block_body {
    line-height: 18px;
    margin: 0 0 0 170px;
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
}
.producer_block_header {
    font-size: 14px;
    padding: 0 0 8px 0;
}
.producer_block_header a {
    font-weight: bold;
}
.producer_block_header .producer_block_url {
    font-weight: normal;
    float: right;
}

.tag_after_h1 {
	position:relative;
	top:-6px;
}
body .tag_link,body #right-block .tag_link {
	color:#005698 !important;
	line-height:14px;
	text-decoration:none;
	display:inline-block;
	margin:3px 14px 9px 10px;
	border-bottom:1px dotted #005698;
}
body .tag_link:hover,body .tag_link_active,body #right-block .tag_link:hover,body #right-block .tag_link_active {
	font-size:12px;
	color:#FFF !important;
	line-height:14px;
	text-decoration:none;
	display:inline-block;
	margin:0 4px 7px 0;
	padding:3px 10px;
	background:#005698;
	border-bottom:0;
	border-radius:3px;
}
body .tag_link_active,body #right-block .tag_link_active {
	font-weight:bold;
}

.preview-block-page .preview-block-big {
	width: 172px;
	margin-bottom: 25px;
}
.preview-block-page .preview-block-big .image {
	width: 170px;
	height: 170px;
}
.preview-block-page td {
	width: 193px;
}

.preview-block-page td:first-child {
	width: 174px;
}

.cb-link_all {
	text-decoration: none;
	float: right;
	position: relative;
	top: 4px;
}

.ed img {
	margin: 3px 10px;
}
.ed .im1 .im2 {
	padding: 0;
}
.ed .img-left {
	float: left;
	margin-left: 0;
}
.ed .img-right {
	float: right;
	margin-right: 0;
}
.ed .table {
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;
	margin-bottom: 1.1em;
}
.ed .table th {
	text-align: center;
	font-weight: bold;
	border: 1px solid #e5e5e5;
	padding: 6px 8px 8px 8px;
}
.ed .table td {
	text-align: left;
	border: 1px solid #e5e5e5;
	padding: 6px 8px 8px 8px;
}

.popup .popup-content .popup-right .prev.video-list {
	padding-bottom: 0;
}
.video-list .prev_videos {
	position: relative;
}
.video-list .prev_videos a:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(/workdir/icon_video_play_gray.png) 50% 50% no-repeat;
}
.video-list .prev_videos a:hover:before {
	background-image: url(/workdir/icon_video_play_gray_hover.png);
}
.preview_video {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.preview_video span {
	display: block;
	width: 78px;
	height: 78px;
	background: url(/workdir/icon_video_play_red.png) 50% 50% no-repeat;
	background-size: 50%;
}
.ui-dialog.video-popup .ui-dialog-content {
	padding: 7px;
}

.good_model_desc {
	margin-top: 25px;
	padding: 20px 15px;
	background: #eee;
}

.filter-form {
    margin-bottom: 15px;
}

.filter-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.filter-dropdown {
    position: relative;
}

.filter-button {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 26px;
    padding: 4px 10px 4px 32px;
    border: 0;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    background-color: #EDEDED;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9 1.4a.8.8 0 0 0-.4-.4H1l-.5.1-.4.3-.1.5.2.5L6 8.9v5.3c0 .3.1.5.3.6l.7.2h2l.7-.2.3-.6V8.9l5.8-6.5.2-.5-.1-.5ZM8 8.1 3.4 3h9.2L8 8.1Z' fill='%239C9D9E'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px 16px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #E4E4E4;
}

.filter-count {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 10px;
    min-height: 16px;
    margin-left: 6px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 16px;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: #FFC470;
    background-color: #535457;
}

.filter-form_filtered .filter-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filter-reset {
    display: none;
    margin-left: 10px;
    padding: 0;
    border: 0;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8C8C8C;
    background-color: transparent;
    cursor: pointer;
}

.filter-reset:hover {
    color: #535457; 
}

.filter-form_filtered .filter-reset,
.filter-form_applied .filter-reset {
    display: block;
}

.filter-collapse {
    display: none;
    position: absolute;
    z-index: 1;
    top: calc(100% + 2px);
    left: 0;
    width: 228px;
    border: 1px solid #C2C2C3;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.filter-dropdown_opened .filter-collapse  {
    display: block;
}

.filter-group {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.filter-group:not(:last-of-type) {
    margin-bottom: 18px;
    padding-bottom: 19px;
    border-bottom: 1px solid #EDEDED;
}

.filter-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.filter-apply {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 18px;
    padding: 6px 32px;
    border: 0;
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background-color: #6C6D70;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.filter-apply:hover {
    background-color: #535457;
}

.filter-apply[disabled],.filter-apply[disabled]:hover {
    background-color: #6C6D70;
    opacity: .5;
    cursor: normal !important;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
}

.filter-item + .filter-item {
    margin-top: 14px;
}

.check-label {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 22px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.check-label::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    content: "";
    position: absolute;
    display: block;
    top: 1px;
    left: 0;
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    width: 14px;
    height: 14px;
    background-color: #FFFFFF;
}

.check-input:checked ~ .check-label::before {
    border: 0;
    background-color: #535457;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.4 5.1 1 3 0 4l3.4 3L10 1 9 0 3.4 5.1Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h10v7H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 2px 4px;
    background-size: 10px 7px;
}

.check-label:hover::before {
    border-color: #B0B0B0;
}

.filter-content {
    padding: 18px 20px 0;
}

.filter-content {
    max-height: 430px;
    overflow-y: auto;
}

.filter-content::-webkit-scrollbar {
    width: 5px
}

.filter-content::-webkit-scrollbar-thumb {
    background-color: #9C9D9E;
    border-radius: 4px
}

.filter-footer {
    padding: 0 20px 18px;
}

.price-link {
    text-decoration: none !important;
}

.mark {
    position: relative;
    float: right;
    margin-left: 10px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.mark_sale {
    width: 24px;
    height: 14px;
    background-image: url(shared/images/mark_sale.svg);
    background-size: 24px 14px;
}

.mark_new {
    width: 24px;
    height: 14px;
    background-image: url(shared/images/mark_new.svg);
    background-size: 24px 14px;
}
